<!-- Splash Pajaro 
    
    <ion-content [fullscreen]="true">
    <div class="container-home">
        <div class="bird-container">
            <div class="bird"></div>
        </div>
    </div>
</ion-content> -->
<div class="container centrado">
    <ion-content [fullscreen]="true">
        <div id="container">
            <div class="nombreCurso">Alejandro Gallo</div>
            <div><img src="../../../assets/logo/logo.png" alt="splash" class="rotate-in-ver" width="40%"></div>
            <div class="nombreCurso">4&ordm; B</div>
        </div>
    </ion-content>
</div>