<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<body>
    <div class="img-login container ion-text-center " id="container">
        <ion-item class="ion-align-items-center transparente">
            <ion-label>Correo: </ion-label>
            <ion-input type="text" placeholder="Ingrese Correo" [(ngModel)]="correo"></ion-input>
        </ion-item>
        <ion-item class="ion-align-items-center transparente">
            <ion-label>Clave: </ion-label>
            <ion-input type="password" placeholder="Ingrese Clave" [(ngModel)]="clave" (keydown.enter)="save($event)"></ion-input>
        </ion-item>
        <ion-item-divider class="ion-align-items-center transparente ">
            <ion-button class="button bluebutton" (click)="validarCorreoClave()" shape="round" size="medium">Ingresar</ion-button>
        </ion-item-divider>
        <ion-item-divider class="ion-align-items-center transparente ">
            <ion-button class="button bluebutton" (click)="register()" shape="round" size="medium">Registrar</ion-button>
        </ion-item-divider>
        <ion-item class="transparente">
            <ion-label>{{mensaje}}</ion-label>
        </ion-item>
    </div>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button>
          <ion-icon name="people-circle-sharp"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="loguear('admin')"><ion-icon name="people-circle-outline"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="loguear('invitado')"><ion-icon name="person-outline"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="loguear('usuario')"><ion-icon name="person-add-outline"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="loguear('anonimo')"><ion-icon name="person-circle-outline"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="loguear('tester')"><ion-icon name="person-remove-outline"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
</body>